*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
.bgcolor-footer{
    background-color: #3A546D;
}
.bgcolor-blue{
    background-color: #2C3E50;
}
.color-blue{
    color: #2C3E50;
}
.bgcolor-azure{
    background-color: #1BBC9B;
}
.color-azure{
    color: #1BBC9B;
}
header{
    width: 100%;
    height: 80px;
}
.container .row .col-12 img{
    width: 100%;
}
.my_title h1{
    font-size: 1.2em;
}

footer h2{
    font-size: 1.1em;
}